*,
p,
a,
li,
ul {
  margin: 0;
  padding: 0;
}

div > .background {
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  background-image: url("../images/login-back.jpg");
  background-repeat: top left no-repeat;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-button {
  background-color: #666;
}
::-webkit-scrollbar-track {
  background-color: #999;
}
::-webkit-scrollbar-track-piece {
  width: 50px;
  background-color: #ffffff;
}
::-webkit-scrollbar-thumb {
  width: 50px;
  height: 50px;
  background-color: #3b5b91;
  border-radius: 3px;
}
::-webkit-scrollbar-corner {
  width: 50px;
  background-color: #999;
}
::-webkit-resizer {
  width: 50px;
  background-color: #666;
}

a,
a:hover {
  text-decoration: none;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(../images/toggle-white.svg);
}

.navbar-light .navbar-toggler {
  color: rgba(242, 202, 107, 0.1);
  border-color: rgba(242, 202, 107, 0.1);
}

.btn-group,
.btn-group-vertical {
  display: block;
}

header {
  width: 100%;
  position: fixed;
  background-color: rgba(57, 64, 74, 0.5);
  backdrop-filter: blur(20px);
  height: 130px;
  z-index: 2050;
}

.navbar-expand-lg {
  padding: 0px 30px;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-right: auto;
  margin-left: auto;
}

.navbar-brand {
  width: 100%;
  padding: 0px;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    background: transparent;
    border: 0;
  }
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #fff;
  background-color: transparent;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 37px;
  clear: both;
  font-weight: 400;
  color: #fff;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-size: 18px;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.command-dropdown {
  margin: 0px 15px;
  font-size: 18px;
  color: #fff;
  background-color: transparent;
  border: 0;
}

.navbar-nav {
  width: auto;
  display: flex;
  align-items: center;
}

.navbar {
  padding-top: 25px;
}

.lang_button {
  margin: 0px 15px;
  display: flex;
  align-items: center;
  border: 0;
  background: transparent;
  color: #fff;
  transition-duration: 0.2s;
}

.lang_text {
  margin-left: 5px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0px;
  margin: 0px 15px;
}

.nav-item {
  position: relative;
}

.rect_border:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 4px;
  opacity: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.01193981010372902) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(0, 212, 255, 0.01193981010372902) 100%
  );
}

.nav-item:hover .rect_border {
  position: absolute;
  top: 35px;
  width: 100%;
  height: 4px;
  opacity: 100;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.01193981010372902) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(0, 212, 255, 0.01193981010372902) 100%
  );
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}

/* login block */

.login_block {
  height: auto;
  padding-top: 200px;
  padding-bottom: 100px;
}

.login_form_block {
  margin: 0 auto;
  width: 600px;
  height: auto;
  border-radius: 10px;
  background-color: rgba(57, 64, 74, 0.5);
  backdrop-filter: blur(20px);
  padding-bottom: 50px;
}

.top_block {
  margin: 0 auto;
  text-align: center;
}

.logo_form {
  width: 100px;
  height: 100px;
}

.login_content {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.form_header {
  width: 600px;
  height: 100px;
  background: #3b5b91;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.form_header_title {
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  margin: 0 auto;
}

.wallet_input_block,
.password_input_block {
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
}

.password_input_block {
  margin-top: 30px;
}

.wallet_input_block p,
.password_input_block p {
  font-size: 15px;
  color: #fff;
  margin-bottom: 10px;
}

.password_input_block p span,
.wallet_input_block p span {
  color: #ff4646;
  margin-left: 4px;
}

.wallet_input,
.password_input {
  font-size: 16px;
  width: 500px;
  height: 56px;
  border: 1px #92969b solid;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  padding: 0px 20px;
  outline: 0;
  color: #fff;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
:-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
::-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
}
:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.form_footer {
  text-align: center;
}

.forgot_link,
.create_link {
  font-size: 16px;
  color: #54cdef;
  text-decoration: underline;
  transition-duration: 0.1s;
}

.forgot_link:hover,
.create_link:hover {
  opacity: 0.5;
  color: #54cdef;
  text-decoration: underline;
}

.login_button {
  padding: 16px 40px !important;
  background: #728ab3 !important;
  border-radius: 5px;
  border: 0;
  font-size: 18px !important;
  font-weight: bold;
  color: #fff;
  margin-top: 30px;
  transition-duration: 0.1s;
  margin: 0 auto;
}

.login_button:hover {
  opacity: 0.5 !important;
  color: #fff !important;
  font-size: 18px !important;
  font-weight: bold;
}

.account_prompt {
  padding-bottom: 30px;
  font-size: 16px;
  color: #fff;
}

.form_footer {
  margin-top: 30px;
}

.data_block {
  margin-top: 46px;
  margin-bottom: 46px;
}

/* footer */

footer {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: rgba(57, 64, 74, 0.5);
  backdrop-filter: blur(20px);
  height: 130px;
  z-index: 2050;
}

.footer_content {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.copyright_text {
  color: #fff;
  font-weight: 300;
  font-size: 16px;
}

.copyright_link {
  text-decoration: underline;
  color: #54cdef;
  font-size: 16px;
  transition-duration: 0.1s;
}

.copyright_link:hover {
  text-decoration: underline;
  color: #54cdef;
  opacity: 0.5;
}

/* media adaptive */

@media (max-width: 1920px) {
  body,
  html {
    overflow-x: hidden;
    width: 100%;
    height: auto;
  }
}

@media (max-width: 992px) {
  header {
    display: inherit;
    height: 100px;
  }

  .navbar-expand-lg .navbar-nav .nav-link,
  .command-dropdown,
  .lang_button {
    margin-bottom: 15px;
  }

  .navbar-expand-lg {
    padding: 10px 10px;
  }

  .navbar-brand {
    width: 5%;
  }

  .login_form_block {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 800px) {
  .form_header,
  .login_form_block {
    width: 100%;
  }

  .wallet_input,
  .password_input,
  .wallet_input_block,
  .password_input_block {
    width: 350px;
  }
}

@media (max-width: 590px) {
  .footer_content {
    display: block;
  }

  footer {
    height: 90px;
  }

  .copyright_text,
  .copyright_link {
    font-size: 13px;
  }
}

@media (max-width: 415px) {
  .form_header_title {
    font-size: 18px;
  }
}

@media (max-width: 375px) {
  .wallet_input,
  .password_input,
  .wallet_input_block,
  .password_input_block {
    width: 230px;
  }
}

@media (max-width: 350px) {
  .form_header_title {
    font-size: 17px;
  }

  .copyright_text,
  .copyright_link {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  body {
    min-width: 320px;
  }
}

/* join screen */

.top_text {
  margin-top: 50px;
  font-size: 15px;
  color: #fff;
}
